
@using System.Security.Claims
@if (User.Identity.IsAuthenticated)
{
    <h2>Hello, @User.Identity.Name!</h2>
    <hr />
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}
